<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="css/uikit.min.css" />
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/uikit.min.js"></script>
<title>schedulerManage</title>
</head>
<body>
<div>
 <!-- 触发模态对话框的按钮 -->
<button class="uk-button uk-button-primary" data-uk-modal="{target:'#add-dialog'}">添加</button>

<div id="add-dialog" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
     <div class="uk-modal-dialog">
         <button type="button" class="uk-modal-close uk-close"></button>
         <div class="uk-modal-header">
             <h2>添加任务</h2>
         </div>
         <form id = "add_job_form"  class="uk-form">
         <fieldset>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "add_job_name" name="jobName" placeholder="任务名" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "add_group_name"  name = "groupName" placeholder="任务组" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "add_job_trigger_name" name = "triggerName" placeholder="trigger名" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "add_job_des" name = "des" placeholder="描述" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "add_job_cron" name = "cron" placeholder="cron表达式" />
	         <button type="button" class="uk-button uk-button-primary" onclick = "validExpression('add_job_cron')">表达式验证</button>
	        </div>
	    </fieldset>
         <div class="uk-modal-footer uk-text-right">
             <button type="button" class="uk-button">Cancel</button>
             <button type="button" id = "submitJob" class="uk-button uk-button-primary">Save</button>
         </div>
         </form>
     </div>
 </div>
 
 <div id="edit-dialog" class="uk-modal" aria-hidden="true" style="display: none; overflow-y: scroll;">
     <div class="uk-modal-dialog">
         <button type="button" class="uk-modal-close uk-close"></button>
         <div class="uk-modal-header">
             <h2>修改任务</h2>
         </div>
         <form id = "edit_job_form"  class="uk-form">
         <fieldset>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "edit_job_name" name="jobName" placeholder="任务名" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "edit_group_name"  name = "groupName" placeholder="任务组" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "edit_job_trigger_name" name = "triggerName" placeholder="trigger名" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "edit_job_des" name = "des" placeholder="描述" />
	        </div>
	        <div class="uk-form-row">
	        <input type="text" value = "" id = "edit_job_cron" name = "cron" placeholder="cron表达式" />
	        <button class="uk-button uk-button-primary" type = "button"  onclick = "validExpression('edit_job_cron')" >表达式验证</button>
	        </div>
	     </fieldset>
         <div class="uk-modal-footer uk-text-right">
             <button type="button" class="uk-button">Cancel</button>
             <button type="button" id = "submitEditJob" class="uk-button uk-button-primary">Save</button>
         </div>
         </form>
     </div>
 </div>
 
 
 
 
 <a class="uk-button uk-button-primary" href = "http://cron.qqe2.com/">表达式生成</a>
 <a class="uk-button uk-button-primary" href = "logout">登出</a>
    </div>
	<div class="">
    <table class="uk-table">
    <caption>r2-task</caption>
    <thead>
     <tr>
            <th>触发器名</th>
            <th>触发器分组</th>
            <th>任务名</th>
            <th>任务分组</th>
            <th>描述</th>
            <th>时间表达式</th>
            <th>上次执行时间</th>
            <th>下次执行时间</th>
            <th>任务状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
	    <% for(r in session.qrtzTriggers){%>
	    	<tr>
		       <td>${r.triggerName}</td>
		       <td>${r.triggerGroup}</td>
		       <td>${r.jobName}</td>
		       <td>${r.jobGroup}</td>
		       <td>${r.des}</td>
		       <td>${r.cron}</td>
		       <td>${r.prevFireTime}</td>
		       <td>${r.nextFireTime}</td>
		       <td>${r.triggerState}</td>
		       <td><button class="uk-button uk-button-primary edit-job" data-uk-modal="{target:'#edit-dialog'}">修改</button>&nbsp;<button  class="uk-button uk-button-primary deleteJob">移除</button></td>
		    </tr>
		<%}%>
    </tbody>
    </table>
</div>


</body>
<script type="text/javascript">
	//添加任务
	$("#submitJob").click(function(){
		$.ajax({
			url:"addJob",
			type:"post",
			data:{"jobName":$("#add_job_name").val(),"cron":$("#add_job_cron").val(),
				"groupName":$("#add_group_name").val(),"triggerName":$("#add_job_trigger_name").val(),
				"des":$("#add_job_des").val()},
			success:function(data){
				UIkit.modal.alert(data);
				refreshPage();
			},
			error:function(){
				
			}
		});
	});
	
	//删除任务
	$(".deleteJob").click(function(){
		var triggerName =  $(this).parent().parent().children("td:eq(0)").text();
		var triggerGroup = $(this).parent().parent().children("td:eq(1)").text();
		UIkit.modal.confirm("确定要移除任务吗?", function(){
			$.ajax({
				url:"removeJob",
				type:"post",
				data:{"triggerName":triggerName,"triggerGroup":triggerGroup},
				success:function(data) {
					(function(modal)
							{ modal = UIkit.modal.blockUI(data); setTimeout(function(){ modal.hide();refreshPage(); }, 3000) })();
				},
				error:function(){
					
				}
			});
		});
	});
	
	function refreshPage(){
		window.location.reload();
	}
	
	$(".edit-job").click(function(){
		var triggerName =  $(this).parent().parent().children("td:eq(0)").text();
		var triggerGroup = $(this).parent().parent().children("td:eq(1)").text();
		var jobName = $(this).parent().parent().children("td:eq(2)").text();
		var des = $(this).parent().parent().children("td:eq(4)").text();
		var cron = $(this).parent().parent().children("td:eq(5)").text();
		$('#edit-dialog').on({
		    'show.uk.modal': function(){
		    	$("#edit_job_trigger_name").val(triggerName);
		    	$("#edit_group_name").val(triggerGroup);
		    	$("#edit_job_name").val(jobName);
		    	$("#edit_job_des").val(des);
		    	$("#edit_job_cron").val(cron);
		    	$("#submitEditJob").click(function(){
		    		if ($("#edit_job_trigger_name").val() != triggerName ||
		    				$("#edit_group_name").val() != triggerGroup ||
		    				$("#edit_job_name").val() != jobName ||
		    				$("#edit_job_des").val() != des ||
		    				$("#edit_job_cron").val() != cron) {
		    			$.ajax({
							url:"editJob",
							type:"post",
							data:{"triggerName":$("#edit_job_trigger_name").val(),
								"triggerGroup":$("#edit_group_name").val(),
								"jobName":$("#edit_job_name").val(),
								"jobGroup":$("#edit_group_name").val(),
								"cron":$("#edit_job_cron").val(),
								"des":$("#edit_job_des").val(),
								"originTriggerName":$("#edit_job_trigger_name").val(),
								"originTiggerGroup":$("#edit_group_name").val()
							},
							success:function(data) {
								if (data != null && data != "") {
									UIkit.modal.alert(data);
								} else {
									var modal = UIkit.modal.blockUI("修改成功");
									setTimeout(function(){ modal.hide();refreshPage(); }, 2000)									
								}
							},
							error:function(error){
								console.log(error);
							}
						});
		    		} else {
		    			UIkit.modal("#edit-dialog").hide();
			    		return;
		    		}
		    	});
		    },
		    'hide.uk.modal': function(){
		        console.log("Element is not visible.");
		    }
		});
	});
	
	function validExpression(id) {
		var cron = $("#"+id).val();
		$.ajax({
			url:"validExpression",
			type:"post",
			data:{"cronExpression":cron},
			success:function(data) {
				if (data == true) {
					UIkit.modal.alert("表达式正确");
				} else {
					UIkit.modal.alert("表达式错误");
				}
			},
			error:function(error){
				console.log(error);
			}
		});
	}
</script>
</html>

