<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="css/uikit.min.css" />
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/uikit.min.js"></script>
<title>Hello World!</title>
</head>
<body>
	<button class="uk-button uk-button-primary" data-uk-button>表达式验证</button>
	<span>Time:</span>
	<ul>
		<li>From controller: ${time}</li>
		<li>From Beetlsss</li>
	</ul>
	<span>Message: ${message}</span>
</body>
<script type="text/javascript">
	
</script>
</html>
